.vscode/settings.json
build/
lib/
wrap.cpp
*.dat
bin/
.vscode/
*-checkpoint.ipynb
py/__pycache__/QuarkTM.cpython-311.pyc
*.pdf
*.png
*weights
*.dat
*.h5
FromZhanduo/SelfE_single.h5
*.p
*.zip
CMakeFiles/*
Makefile*
CMakeCache*
*.cmake
*.pyc
*.csv
*.hdf5
*.h5py
*.swp
screenlog*
0.*
chi2.txt
